[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ChauBoxplot"]
	path = ChauBoxplot
	url = https://github.com/tiejuntong/chauboxplot
